APP_NAME=Claws
APP_ORG=com.unwisegames
APP_DEVTEAM=MQLZHUQ5LS
APP_SUFFIX=claws
APP_ORIENTATION=landscape
APP_ADS=banner
APP_ADMOB_APP_ID=ca-app-pub-6847411434287776~9764010246
APP_ADMOB_UNIT_ID=ca-app-pub-6847411434287776/3717476649

APP_LEADERBOARDS=\
'totalpoints   | Total points scored           | 0..max | point(s) | int    | points.xcf   ',\
'dartsfired   | Total darts fired          | 0..max | | int    | darts.xcf   ',\
'batskilled   | Total bats killed          | 0..max | | int    | bats.xcf   ',\
'highpoints   | High points scored           | 0..max | point(s) | int    | points.xcf   ',\
'hibatskilled   | High bats killed          | 0..max | | int    | bats.xcf   ',\

APP_ACHIEVEMENTS=\
'score25     | 25 points    | Score 25 points in one game      | | 5   | score25.xcf    ',\


APP_FABRIC_KEYS={"ffacdc4ce1f023bbafd5ec29ae1c9d135d3f463a","7330c616f38a3882061940043c5043173827bd745d163862b520977ea96aa156"}
