APP_NAME=Claws
APP_ORG=com.unwisegames
APP_SUFFIX=claws
APP_ORIENTATION=landscape
APP_ADS=banner

APP_LEADERBOARDS=\
'career   | Career points           | 0..max | point(s) | int    | career.xcf   ',\

APP_ACHIEVEMENTS=\
'score25     | 25 points    | Score 25 points in one game      | | 5   | score25.xcf    ',\


APP_CRASHLYTICS_KEYS={"ffacdc4ce1f023bbafd5ec29ae1c9d135d3f463a","7330c616f38a3882061940043c5043173827bd745d163862b520977ea96aa156"}
